services:
  
  
  postgres-database:
    image: 'postgres:16-alpine'
    environment:
      - 'POSTGRES_DB=nome_condominio'
      - 'POSTGRES_PASSWORD=senha_gerada_aleatoriamente'
      - 'POSTGRES_USER=nome_condominio_mais_alguma_coisa_pra_diferenciar'
    ports:
      - '5005:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data


  backend-cadastro-condominio:
    build: .
    container_name: backend-condominio
    ports:
      - 5001:8080
    
    depends_on:
      - postgres_database

    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-database:5005/nome_condominio
      - SPRING_DATASOURCE_USERNAME=nome_condominio_mais_alguma_coisa_pra_diferenciar
      - SPRING_DATASOURCE_PASSWORD=enha_gerada_aleatoriamente
      - SPRING_JPA_HIBERNATE_DDL_AUTO=validate

volumes:
  postgres_data:


